//antd
.has-error .ant-form-explain,
.has-error .ant-form-split {
  padding: 3px 0 0 0;
}
.ant-upload-list-item-info {
  margin-right: 12px;
  display: inline-block;
}
.ant-table-thead > tr > th {
  color: rgba(0, 0, 0, 0.75) !important;
  font-weight: 400 !important;
}
.ant-row {
  margin: 0 !important;
}
.ant-form-item-label {
  padding-left: 0 !important;
  padding-right: 3px !important;
  padding-top: 11px !important;
  word-wrap: break-word;
  line-height: 130% !important;
  white-space: normal !important;
  &:after {
    content: "\：";
  }
}
.ant-form-item-field {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ant-form-item {
  margin-bottom: 1rem !important;
}

.tab-span {
  line-height: 32px;
  display: block;
  text-align: center;
  border: 1px solid transparent;
  height: 35px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #fff;
  border-color: #d9d9d9;
  font-weight: normal;
}

.ant-menu-inline {
  border-right: 0 !important;
}

.ant-menu-item {
  .iconfont {
    margin-right: 5px;
  }
}
.ant-menu-submenu {
  .iconfont {
    margin-right: 5px;
  }
  .ant-menu-item {
    padding-left: 40px !important;
    .iconfont {
      margin-right: 1px !important;
    }
  }
}
.ant-form-item-seprator {
  padding-left: 0 !important;
  padding-right: 3px !important;
  padding-top: 11px !important;
  word-wrap: break-word;
  line-height: 130% !important;
  white-space: normal !important;
}

.btn-group-radio {
  padding-left: 12px !important;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #086aff; //#1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

//custom
.iframe {
  padding: 0 2rem 1rem 2rem;
}
.grid {
  padding: 0 2rem;
  .title {
    padding: 2rem 0 2rem 0;
    font-size: 1.5rem;

    .anticon {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
    i {
      font-size: 24px;
      margin-right: 3px;
    }
  }
  .toolbar {
    padding: 0 0 0.8rem 0;
    button {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0 !important;
      }
    }
    .iconfont {
      margin-right: 0.3rem;
    }

    .separator {
      margin-left: 5px;
    }
  }
}
.form-edit,
.form-view {
  padding: 0 15% 0 8% !important;
}
.form-edit,
.form-view,
.form-custom {
  max-width: 1200px;
  .title {
    padding: 2rem 0;
    font-size: 1.5rem;
    .anticon {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
    i {
      font-size: 24px;
      margin-right: 3px;
    }
  }
  .title-btn {
    padding: 1.5rem 0;
    font-size: 1.8rem;
    text-align: right;
  }

  .subtitle-edit{
    color: #0088ff;
    margin-bottom: 12px;
    padding-left: 12px;
  }
  .subtitle {
    color: #0088ff;
    margin-bottom: 12px;
  }
  .subtitle-large {
    color: #0088ff;
    margin-bottom: 12px;
    font-size: 18px;
  }
  .subItemTitle {
    color: #2db7f5;
  }
  .subcontent {
    padding: 0 0 12px 0;
  }
  .ant-divider {
    margin: 12px 0 !important;
  }
  .ant-upload-list-item-thumbnail {
    max-width: 100px;
  }

  .toolbar {
    padding: 1rem 0 3rem 0;
    text-align: center;
    border-top: 1px solid #f5f5f5;
    button {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0 !important;
      }
    }
    .iconfont {
      margin-right: 0.3rem;
    }
  }
  .ant-form-item-view {
    line-height: 130%;
    min-height: 40px;
    padding-top: 11px !important;
  }
}
.form-edit {
  .toolbar {
    margin-top: 0.5rem;
  }
}
.form-view {
  .toolbar {
    margin-top: 2rem;
  }
}
.form-view,
.form-custom {
  .ant-upload-list-item {
    margin-right: 8px;
    display: inline-block !important;
  }
}

.required {
  color: red;
  vertical-align: middle;
}

.myTab {
  .ant-tabs-tab-active .tab-span {
    background-color: #a1d3ff;
	  border: solid 1px #0088ff;
  }
  .ant-tabs-tab{
    padding: 12px 12px 12px 0!important;
  }
  .ant-tabs-ink-bar {
    background: none;
  }
}
.new-target {
  color: #28b779 !important;
  // text-decoration: underline !important;
  // border-bottom:1px solid #28B779!important;
  padding: 0 !important;
  font-size: 15px;
}
//label and field
.label {
  &:after {
    content: "\FF1A";
  }
}
.field {
  word-spacing: normal;
  word-break: break-word;
}

//button

.btn-copy {
  color: #fff !important;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
  outline: none;
  &:hover {
    color: #fff !important;
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
    outline: none;
  }
}
.btn-detail {
  float: right;
  background: #2db7f5;
  font-size: 12px;
  color: #fff;
  padding: 3px 12px;
  &:hover {
    color: #eaeaea;
  }
}
.btn-collapse {
  margin: 0;
  padding-left:0!important;
  width: 100%;
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #0088ff !important;
  span {
    font-size: 14px !important;
  }
}
.btn-add {
  color: #fff !important;
  background-color: #3cb035 !important;
  border-color: #3cb035 !important;
  height: 26px !important;
  padding: 0 12px !important;
  border-radius: 13px !important;
  font-size: 13px !important;
  line-height: 1 !important;
  vertical-align: text-bottom !important;
  margin-left: 15px;
  &:hover {
    color: #3cb035 !important;
    background-color: #fff !important;
  }
}
.btn-del {
  color: #ff4d4f !important;
  border: 1px solid #ff4d4f!important;
  outline: 0!important;
  &:hover {
    color: #fff !important;
    background-color: #ff4d4f !important;
  }
}

